@charset "UTF-8";

:root {
    --header-height: 48px;
    --landing-page-height: 550px
}

.container {
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
}

/*CAROUSEL-LANDING*/

.scroll {
    position: absolute;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    white-space: nowrap;
    width: 100%;
}
  
.box {
    position: relative;
    height: var(--landing-page-height);
    flex: 0 0 100%;
    max-width: 100%;
    color: #fff;
}

.box:before {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 10%);
    content: '';
}

.snap {
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 0px;
}

.snap > * {
    scroll-snap-align: start;
}
  
::-webkit-scrollbar {
    display: none;
}
  
.dune {background: #fff url(../media/land-dune.jpg) center / cover no-repeat;}
.argylle {background: #fff url(../media/land-argylle.webp)  center 0px / cover no-repeat;}
.poor-things{background: #fff url(../media/land-poor-things.jpg) center / cover no-repeat;}
.cabrini {background: #fff url(../media/land-cabrini.jpg) center / cover no-repeat;}
.madam-web{background: #fff url(../media/land-web.jpg) center / cover no-repeat;}
.one-life{background: #fff url(../media/land-one-life.webp) center / cover no-repeat;}
  
.info {
    grid-area: content; 
    justify-self: start; 
    align-self: end;
    margin-bottom: 10%;
    z-index: 1;
}
  
h2 {
    color: #fff;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 400;
} 

h3 {
    font-size: 20px;
}

.box p {
    font-size: 17px;
    font-weight: 600;
}

.back p:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.493);
}

.box span {
    font-weight: 100;
}


.scroll-button {
    position: absolute;
    font-size: 30px;
    top: var(--header-height);
    bottom: 0;
    list-style: none;
    color: #fff;
    background-color: transparent;
    width: 70px;
    height: var(--landing-page-height);
    visibility: hidden;
    transition: visibility 0.2s ease-in;
}

.scroll-button.visible {
    visibility: visible;
}
  
.right {right: 0px;}
.left {left: 0px;}

.right:before {
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.left:before {
    position: absolute;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

/*END-CAROUSEL-LANDING*/